{{> /layout/header}}

<div class="container my-3">
    <h1>BadRequest 400 (서버가 클라이언트 오류를 감지해 요청을 처리할 수 없거나, 하지 않는다, 클라이언트가 바디 값을 잘못 전달 (유효성 검사 실패))</h1>
    <hr>
    <h4>{{msg}}</h4>
</div>

{{> /layout/footer}}